<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Document</title>
</head>
<body>
  <div class="heading">
        <h1 > INFORMATION OF YOUR POST </h1>
    </div>
    <div class="contents">
        <h1 >@<%= posts.username%></h1>
        <h4 ><%= posts.content%></h4>
        <h6 >This is id of your Post: <%= posts.id%></h6>
    </div>
    
</body>
</html>